.head {text-align:center;
  color:white;
  font-family: 'Dancing Script', cursive;}
.headbg{background-color:#1597bb;
 border-radius:25px;}
#bg{height: 100%;
  width: 100%;
  clip-path: polygon(100% 0, 100% 100%,90% 10%, 50% 80%, 10% 10%, 0 100%, 0 0);
  background-color: rgb(30,181,181);

  position: absolute;
  z-index:-1;
  width: 100%;
  height: 100;
  mask-image: linear-gradient(to bottom,transparent 15%,green 75%);
  -webkit-mask-image: linear-gradient(to bottom,transparent 15%,green 75%);

}
