body{ background-color: #E4FBFF;}
.iitm{position: relative;
height: 135px;
width: 135px;
left: 10px;
top: 15px;}
h1{text-shadow:2px 2px 4px black;}
.line{position: relative;
left: 50%;}
.line2{font-style: oblique;
font-size: 18;}
.i1{height: 250px;
width: 250px;
position: absolute;
left:100px;
top: 400px;
}
.i2{height: 250px;
width: 250px;
position: absolute;
left: 50px;
top: 350px;}
.i3{height: 250px;
width: 250px;}
.cont{
  background-color: #00FFFF;
  height: 60px;
  position: relative;
  top: 110px;
  padding-bottom: 30px:
}
.l1{position: absolute;
left: 400px;
font-size: 1.5em;}
.l2{ position: absolute;
top: 500px;
left: 450px;
font-size: 1.5em;}
.instagram{  position: absolute;
  left: 43%;}
  .facebook{position: absolute;
  left: 50%;}
  .linkedin{position: absolute;
  left: 57%;}
  .under{color: white;
    text-align: center;
    font-family: 'Aguafina Script', sans-serif;
    position: relative;
    top: 40px;
    }
